// Place all the styles related to the semester controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, a, h1, h2, h3, h4, h5, h6 {
  font-family: 'TisaPro' !important;
}


.mdl-card__media img {
  height: 312px;
  width: 312px;
  overflow: hidden;

}

.mdl-card__media {
  background-color: #FFFFFF !important;
}
