// Place all the styles related to the speakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.card {
  height: 425px;
  width: 320px;
}

.mdl-grid.center {
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  display: center;
  width: 250px;
  height: 250px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border: 5px solid #eee;
  border-radius: 99em;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  -webkit-filter: drop-shadow(5px 5px 5px #222);

}
