// Place all the styles related to the talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.mdl-card__media {
    margin: 0;
}

.mdl-card__media > img {
  max-width: 100%;
}

.mdl-card__title-text {
  a:hover {
      color: blue;
  }
}

.content-grid {
  max-width: 1180px;
}

.mdl-layout__header-row {
  background-color: rgb(57,71,78);
}

.mdl-layout__header {
  background-color: rgb(57,71,78) !important;
}

.mdl-layout__content {
  padding: 2em;
}

.li {

}
